<h1>Welcome back!</h1>

<div>
  <%= link_to "Click me to sign into Twitter!",  '/auth/twitter' %>
</div>

<div>
  <%= link_to "Click me to Sign into LinkedIn!", '/auth/linkedin' %>
</div>

<div>
  <%= link_to "Click me to Sign into Youtube!/google+", '/auth/google_oauth2' %>
</div>

<div>
  <%= link_to "Click me to Sign into Instagram!", '/auth/instagram' %>
</div>

<div>
  <%= link_to "Click me to Sign into Facebook!", 'auth/facebook' %>
</div>



<h2>Returned Hash</h2>
<%= @test %>
