<div class="row results-header text-center">
  <h1><%= @result.user.name %>'s Twitter Socialytics</h1>
  <% if @result.early_bird != true %>
  <%= image_tag("https://s3-us-west-1.amazonaws.com/socialyze/owl-512.png", class: "img-responsive center-block") %>
  <h2>Congrats!<br><small>You're a night owl tweeter</small></h2>
  <p>The majority of your tweets fall between 6pm to 6am</p>
  <% else %>
   <%= image_tag("https://s3-us-west-1.amazonaws.com/socialyze/earlybird3.png", class: "img-responsive center-block") %>
   <h2>Congrats!<br><small>You're an early bird tweeter</small></h2>
  <p>The majority of your tweets fall between 6am to 6pm</p>
  <% end %>
</div>

<div class="row bar-graph text-center">
  <div class="user-bar-graph">
    <h1>Most Tweeted Words</h1>
    <bar-graph class="col-md-12 center-block text-center" bar-graph-data="<%= @result.most_used_words %>"></bar-graph>
  </div>
  <div class="follower-bar-graph">
    <h1><%= @result.user.name %>'s Followers' Most Tweeted Words</h1>
    <bar-graph class="col-md-12 center-block text-center" bar-graph-data="<%= @result.followers_most_used_words %>"></bar-graph>
  </div>
</div>



<div class="row results-table">
  <div class="col-md-5 col-md-offset-1 text-center">
    <table class="table">
      <tr><h2><%= @result.user.name %>'s Analysis</h2></tr>
      <tr>
        <th class="text-center blue">Avg Tweet Length</th>
        <td class="med-blue"><%= @result.avg_tweet_length %></td>
      </tr> 
      <tr>
        <th class="text-center blue">Total Tweets</th>
        <td class="light-blue"><%= @result.total_tweets %></td>
      </tr> 
      <tr>
        <th class="text-center blue">Number of Followers</th>
        <td class="med-blue"><%= @result.num_followers %></td>
      </tr> 
    </table>
  </div>


  <div class="col-md-5 text-center">
    <table class="table table-hover">
      <tr><h2><%= @result.user.name %>'s Follower's Analysis</h2></tr>
      <tr>
        <th class="text-center blue">Follower's Avg Tweet Length</th>
        <td class="med-blue"><%= @result.followers_avg_tweet_length %></td>
      </tr> 
      <tr>
        <th class="text-center blue">Follower's Avg Total Tweets</th>
        <td class="light-blue"><%= @result.followers_avg_total_tweets %></td>
      </tr> 
      <tr>
        <th class="text-center blue">Follower's Avg Number of Followers</th>
        <td class="med-blue"><%= @result.followers_avg_num_followers %></td>
      </tr> 
    </table>
  </div>
</div>
<div class="row pie-graph text-center">
  <div class="user-pie-chart col-md-12">
    <h2><%= @result.user.name %>'s Characters per Tweet</h2>
    <br>
    <pie-chart pie-chart-data="<%= @result.char_per_tweet %>" class="col-md-12 center-block text-center"></pie-chart>
  </div>
</div>




