<!DOCTYPE html>
<html ng-app>
<head>
  <title>Socialyze</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
{{3 + 4}}
<%= render 'shared/flash' %>

<%= yield %>

</body>
</html>
