<!DOCTYPE html>
<html ng-app="socialyze">
<head>
  <title ng-bind="title"></title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
   <base href="#">
</head>
<body>
{{3 + 4}}
<div ng-controller="SocialyzeController as main">

{{main.test}}
</div>
<%= render 'shared/flash' %>

<%= yield %>

</body>
</html>
