<!DOCTYPE html>
<html ng-app="socialyze">
<head>
  <title ng-bind="title"></title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/navigation' %>
<%= render 'shared/flash' %>

<%= yield %>


</body>
</html>
